@model HomeModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, <strong>@Model.Name</strong></h1>
    <p>Contact registration in MVC</p>
    <span>Your email is: <strong>@Model.Email</strong></span>
</div>
